.graph-container {
    width: 555px;
    height: 350px;
    background-color: rgb(78, 69, 204);
    border-radius: 20px;
    margin-top: 160px;

}

.app-graph {
    width:555px;
    height: 300px;
    margin: 0 auto;
    margin-top: 30px;
}